%div.container
  %div.home__body
    %div.home__body__cards
      %div.body__card
        %div.note
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image1.jpeg')
        /         %a{href: "", class:"avatar__name" }野比のび太
        /         %a{href: "", class:"avatar__date"} 3時間前
        /     %div.note__image
        /       = link_to image_tag('/assets/note_image1.jpeg')
        /     %a{href: ""}
        /       %h3.note__title 僕の夏休み
        /       %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 16
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0

        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image2.jpeg')
        /     %a{href: ""}
        /       %h3.note__title ラスベガスに行ってきた話
        /       %p.note__text 紅白出場歌手が発表されましたね。今回は初出場が7組だそうです。
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 21
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image2.jpeg')
        /         %a{href: "", class:"avatar__name" } 骨川スネ夫
        /         %a{href: "", class:"avatar__date"} 8時間前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image3.jpeg')
        /     %a{href: ""}
        /       %h3.note__title 金沢で食べたのどぐろ
        /       %p.note__text 美味しかった
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 9
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image3.jpeg')
        /         %a{href: "", class:"avatar__name" } 源しずか
        /         %a{href: "", class:"avatar__date"} 15時間前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image4.jpeg')
        /     %a{href: ""}
        /       %h3.note__title 1日の終わりに
        /       %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 22
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image4.jpeg')
        /         %a{href: "", class:"avatar__name" } 剛田たけし
        /         %a{href: "", class:"avatar__date"} ２日前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image1.jpeg')
        /     %a{href: ""}
        /       %h3.note__title 僕の夏休み
        /       %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 16
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image1.jpeg')
        /         %a{href: "", class:"avatar__name" }野比のび太
        /         %a{href: "", class:"avatar__date"} 3時間前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image2.jpeg')
        /     %a{href: ""}
        /       %h3.note__title ラスベガスに行ってきた話
        /       %p.note__text 紅白出場歌手が発表されましたね。今回は初出場が7組だそうです。
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 21
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image2.jpeg')
        /         %a{href: "", class:"avatar__name" } 骨川スネ夫
        /         %a{href: "", class:"avatar__date"} 8時間前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image3.jpeg')
        /     %a{href: ""}
        /       %h3.note__title 金沢で食べたのどぐろ
        /       %p.note__text 美味しかった
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 9
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image3.jpeg')
        /         %a{href: "", class:"avatar__name" } 源しずか
        /         %a{href: "", class:"avatar__date"} 15時間前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
        / %div.body__card
        /   %div.note
        /     %div.note__image.note__image__eyecatch
        /       = link_to image_tag('/assets/note_image4.jpeg')
        /     %a{href: ""}
        /       %h3.note__title 1日の終わりに
        /       %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。
        /     %div.note__items
        /       %a{href: ""}
        /         %div.note__icon.note__icon--like
        /           %div.icon__box
        /             %i.far.fa-heart
        /           %div.icon__count 22
        /         %div.note__icon.note__icon--comment
        /           %div.icon__box
        /             %i.far.fa-comment
        /           %div.icon__count 0
        /     %div.note__foot
        /       %div.note__foot__avatar
        /         %div.avatar__icon
        /           %div.avatar__icon__image
        /             = link_to image_tag('/assets/icon_image4.jpeg')
        /         %a{href: "", class:"avatar__name" } 剛田たけし
        /         %a{href: "", class:"avatar__date"} ２日前
        /       %div.note__foot__like
        /         %div.icon__box
        /           %i.far.fa-heart.fa-heart--foot
