%div.new__container
  %div.new__header
    = link_to "", class: "logo" do
      %img{src: "https://d2l930y2yx77uc.cloudfront.net/assets/logo_retina-9c22c0bbe0a86ce2f343288c049fd7335efbccc3876de4133b14dce0a7990d0d.png"}
    %ul
      %li
        = link_to "キャンセル" ""
      %li
        = link_to "note投稿" ""
  %div.new__form

