.header__container__nav
  %ul.header__container__nav__menulist
    %li.menu
      =link_to "おすすめ" ""
    %li.menu
      =link_to "マガジン" ""
    %li.menu
      =link_to "募集中" ""
    %li.menu
      =link_to "ピックアップ" ""
    %li.menu
      =link_to "注目カテゴリ" ""
    %li.menu
      =link_to "人気タグ" ,"" ,class: "popular"
    %li.menu#help
      =link_to "" do
        %i{class: "fa fa-question-circle"}

  %ul.header__container__nav__category
    %li.category
      =link_to "マンガ" ""
    %li.category
      =link_to "コラム" ""
    %li.category
      =link_to "小説" ""
    %li.category
      =link_to "写真" ""
    %li.category
      =link_to "サウンド" ""
    %li.category
      =link_to "ビジネス" ""
    %li.category
      =link_to "ライフスタイル" ""
    %li.category
      =link_to "テクノロジー" ""
    %li.category
      =link_to "エンタメ" ""
