.header
  .header__container
    .header__container__upper
      .header__container__upper__left
        = link_to root_path do
          = image_tag("note_logo.jpg" ,class: "note_logo")
      .header__container__upper__right
        .log-in
          = link_to "" do
            %p ログイン
        .sign-up
          = link_to "" do
            %p 新規登録
        %form.search-form
          %input{name:"keyword", placeholder:"キーワードを入力", type:"text", class: "search-form__field"}
            %button{type: "submit", class: "search-form__field__button"}
              %i{class: "fa fa-search fa-2x search-icon"}
    .header__container__nav
      .header__container__nav__menu
        %ul
          %li
            =link_to "" do
              %p マンガ
          %li
            =link_to "" do
              %p コラム
          %li
            =link_to "" do
              %p 小説
          %li
            =link_to "" do
              %p 写真
          %li
            =link_to "" do
              %p サウンド
          %li
            =link_to "" do
              %p ビジネス
          %li
            =link_to "" do
              %p ライフスタイル
          %li
            =link_to "" do
              %p テクノロジー
          %li
            =link_to "" do
              %p エンタメ

      .header__container__nav__category
