= render "shared/header"
.magazine-admin-content
  .magazine-admin-content__all
    .magazine-admin-content__all__title
      すべてのマガジン
    %i.fas.fa-caret-down.magazine-admin-content__all__arrow
  %ul.magazine-admin-content__magazines
    %li.magazine-admin-content__magazines__create
      %i.fas.fa-plus.magazine-admin-content__magazines__create__plus
      .magazine-admin-content__magazines__create__text
        マガジンを作る
    %li.magazine-admin-content__magazines__magazine
      .magazine-admin-content__magazines__magazine__header
        %img{alt: "イメージ", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRFrEe0KZmgwoBMorDlDO17zfOjintGlHa8EMr5jEe61NY2n4p8g"}
        .magazine-admin-content__magazines__magazine__header__title
          マガジンのタイトル
      .magazine-admin-content__magazines__magazine__center
        .magazine-admin-content__magazines__magazine__center__title
          マガジンのタイトル
      .magazine-admin-content__magazines__magazine__footer
        .magazine-admin-content__magazines__magazine__footer__icon
          %img{alt: "イメージ", src: "https://www.kirby.jp/images/character/chara-kirby.png"}
        .magazine-admin-content__magazines__magazine__footer__name
          自分の名前
        .magazine-admin-content__magazines__magazine__footer__setting
          設定
