= render "shared/header"
.magazine-details-content
  .magazine-details-content__top
  .magazine-details-content__middle
.footer
  %ul.footer__list
    %li.footer__list__item
      noteプレミアム
    %li.footer__list__item
      クリエイターの方へ
    %li.footer__list__item
      よくある質問
    %li.footer__list__item
      使い方
    %li.footer__list__item
      ノート
    %li.footer__list__item
      マガジン
    %li.footer__list__item
      ユーザー
    %li.footer__list__item
      ハッシュタグ
    %li.footer__list__item
      プライバシー
    %li.footer__list__item
      ご利用規約
    %li.footer__list__item
      特商法表記
    %li.footer__list__item
      クリエイターへのお問い合わせ
    %li.footer__list__item.only-bold
      noteカイゼン目安箱
    %li.footer__list__item.only-bold
      クリエイターの推薦
