/マガジン詳細画面
= render "shared/header"
.magazine-details-content.clearfix
  .magazine-details-content__top
    .magazine-details-content__top__image
      %img{alt: "イメージ", src: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAAA1BMVEUzxpDs+IWfAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABODcYhAAEl463hAAAAAElFTkSuQmCC"}
      .magazine-details-content__top__image__title
        マガジンのタイトル
  .magazine-details-content__middle
    .magazine-details-content__middle__left
      .magazine-details-content__middle__left__count
        1ノート
      = link_to do
        .magazine-details-content__middle__left__edit
          ノートの並び替え・削除
      .magazine-details-content__middle__left__note
        .magazine-details-content__middle__left__note__user
          .magazine-details-content__middle__left__note__user__icon
            %img{alt: "自分の", src: "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"}
          .magazine-details-content__middle__left__note__user__name
            ノートを作ったユーザの名前
          .magazine-details-content__middle__left__note__user__date
            2018/10/27 07:00
        .magazine-details-content__middle__left__note__main
          =link_to do
            .magazine-details-content__middle__left__note__main__image
              %img{alt: "イメージ", src: "https://www.jalan.net/news/img/2017/09/170915_fuji-670x443.jpg"}
            %h3.magazine-details-content__middle__left__note__main__title
              ノートのタイトル
            %p.magazine-details-content__middle__left__note__main__text
              あいうえお、かきくけこ、さしすせそ
    .magazine-details-content__middle__right
      = link_to do
        .magazine-details-content__middle__right__setting
          設定
      .magazine-details-content__middle__right__title-bold
        マガジンのタイトル
      .magazine-details-content__middle__right__title
        マガジンの説明
      .magazine-details-content__middle__right__profile
        .magazine-details-content__middle__right__profile__icon
          %img{alt: "自分の", src: "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"}
        .magazine-details-content__middle__right__profile__name
          自分の名前
      .magazine-details-content__middle__right__title-bold
        ハッシュタグ
      %ul.magazine-details-content__middle__right__hash
        %li.magazine-details-content__middle__right__hash__item
          仮置き
        %li.magazine-details-content__middle__right__hash__item
          仮置き
        %li.magazine-details-content__middle__right__hash__item
          仮置き
      .magazine-details-content__middle__right__title-bold
        アーカイブ
      .magazine-details-content__middle__right__archive
        2018年(3) [+]
      .magazine-details-content__middle__right__title-bold
        シェア
      %ul.magazine-details-content__middle__right__share
        %li.magazine-details-content__middle__right__share__facebook
          %i.fab.fa-facebook-square
        %li.magazine-details-content__middle__right__share__twitter
          %i.fab.fa-twitter
        %li.magazine-details-content__middle__right__share__source
          %i.fas.fa-wifi
.footer
  %ul.footer__list
    %li.footer__list__item
      noteプレミアム
    %li.footer__list__item
      クリエイターの方へ
    %li.footer__list__item
      よくある質問
    %li.footer__list__item
      使い方
    %li.footer__list__item
      ノート
    %li.footer__list__item
      マガジン
    %li.footer__list__item
      ユーザー
    %li.footer__list__item
      ハッシュタグ
    %li.footer__list__item
      プライバシー
    %li.footer__list__item
      ご利用規約
    %li.footer__list__item
      特商法表記
    %li.footer__list__item
      クリエイターへのお問い合わせ
    %li.footer__list__item.only-bold
      noteカイゼン目安箱
    %li.footer__list__item.only-bold
      クリエイターの推薦
