%ul.search__box__kind-tab
  = link_to searches_path do
    %li.kind.note-tab.selected ノート
  = link_to search_magazine_searches_path do
    %li.kind.magazine-tab マガジン
  = link_to search_user_searches_path do
    %li.kind.user-tab ユーザー
  %li.kind.hash-tab ハッシュタグ
