.header__container__nav{
  height: 90px;
  padding-top: 20px;
  max-width: 940px;
  margin: 0 auto;


  &__menulist{
    border-bottom: solid 1px #F5F5F5;
    height: 45px;
    overflow: auto;
    li.menu{
      height: 45px;
      display: inline-block;
      line-height:45px;

      a{
        padding: 15px;
        text-decoration: none;
        color: gray;
        font-weight: bold;
        font-size: 15px;
      }
      a:hover{
        color: black;
        border-bottom: solid 1.5px black;
      }
    }
    li#help{
      float: right;
      a{
        padding: 10px 0;
        font-size: 25px;
        color: #CCCCCC;
      }
      a:hover{
        color: black;
      }
    }
  }
  &__category{
    height: 48px;
    overflow: auto;
    li.category{
      height: 48px;
      line-height: 48px;
      display: inline-block;
      margin: 0 12px;

      a{
        text-decoration: none;
        color: gray;
        font-size: 14px;
      }
      a:hover{
        color: black;
      }
    }
    li.tag-name{
      height: 48px;
      line-height: 48px;
      display: inline-block;
      margin: 0 12px;
      a{
        color: gray;
        font-size: 14px;
      }
    }
  }
}

