.header{
  .header__container{
    max-width: 940px;
    margin: 0 auto;

    .header__container__upper{
      height: 75px;

      &__left{
        float: left;
        .note_logo{
          width: 120px;
        }
      }
      &__right{
        float: right;
        margin-top: 25px;
        position: relative;

        li {
          list-style: none;
          float: left;

          .log-in  {
            float: left;
            padding: 6px 14px;

            p{
              font-size: 12px;
              font-weight: bold;
              color: gray;
            }

          }

          .log-out  {
            float: left;
            padding: 6px 14px;

            p{
              font-size: 12px;
              font-weight: bold;
              color: gray;
            }

          }

          .sign-up{
            float: left;
            padding: 6px 14px;
            margin-right: 10px;
            border: solid 1px $greencolor;
            border-radius: 5px;
            background-color: $greencolor;
            vertical-align: center;

              p {
                font-size: 12px;
                color: white;
              }

          }
          .search-icon1{
            color: #CCCCCC;
            height: 32px;
            line-height: 32px;
            font-size: 20px;
          }

          .search-form{
            display: none;
            height:35px;
            width: 250px;
            float: right;
            position: relative;

            &__box{
              ::-webkit-input-placeholder {
                color: #ccc;
                font-size: 13px;
              }
              input{
                height:35px;
                width:220px;
                padding: 0 10px;
                border: solid 1px #ccc;

                border-radius: 5px;
                outline: 0;
              }
              button{
                height: 35px;
                position: absolute;
                left:210px;
                top:0;
                background-color: transparent;
                border: none;
                outline: none;
                padding: 0;
                appearance:none;

                  .search-icon{
                    color: #CCCCCC;
                  }
              }
            }
          }

          .notification {
            margin-left: 16px;
            display: inline-block;

            .fa-bell {
              font-size: 22px;
              line-height: 32px;
              color: #CCCCCC;
              height: 32px;
            }
          }

          .my-icon {
            width: 32px;
            height: 32px;
            margin-left: 16px;
            display: inline-block;

             &__image {
              width: 100%;
              border-radius: 32px;
             }
          }

          .my-menu {
            z-index: 12;
            display: none;
            width: 220px;
            position: absolute;
            top: 43px;
            left: 44%;
            -webkit-transform: translate(-50%);
            transform: translate(-50%);
            padding: 8px 0;
            text-align: left;
            border-radius: 4px;
            background: $whitecolor;
            box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.35);

            &::before {
              left: 50%;
              margin-left: -7px;
              content: "";
              display: block;
              position: absolute;
              right: 8px;
              top: -13px;
              width: 14px;
              height: 14px;
              background: $whitecolor;
              box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
              transform: rotate(225deg) translate(-5px, -5px);
            }

            ul {
              li {

                span {
                  display: block;
                }

                .user__name {
                  font-weight: bold;
                }

                .link__text {
                  margin-top: 3px;
                  font-size: 11px;
                  color: $graycolor;
                }

                a {
                  color: #222222;
                  font-size: 12px;
                  padding: 6px 25px;
                  display: block;
                }
              }

              .menu__border {
                width: 100%;
                margin: 10px 0;
                border-bottom: 1px solid $border-color;
              }
            }
          }

          .post-button {
            color: $whitecolor;
            background-color: $greencolor;
            height: 32px;
            margin-left: 16px;
            padding: 0 16px;
            line-height: 32px;
            border-radius: 4px;
            display: inline-block;

            .fa--edit {
              font-size: 16px;
              width: 16px;
              height: 16px;
              margin-right: 4px;
            }

            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}


