.header{
  width: 100%;
  height: 170px;
  .header__container__upper{
    height: 80px;
    margin: 0 230px 0 230px;
      &__left{
        width: 140px;
        float: left;
      }
      .note_logo{
        width: 130px;
      }
      &__right{
        float: right;
          }
          .log-in{
            float: left;
            text-decoration: none;
            p{

            }
          }
          .sign-up{
            float: left;
          }
          .search-form{
            float: right;
          }
      }

  }

