.header{
  width: 100%;
  height: 170px;
  .header__container__upper{
    height: 80px;
    max-width: 940px;
    margin: 0 auto;
      &__left{
        width: 140px;
        float: left;
      }
      .note_logo{
        width: 130px;
      }
      &__right{
        float: right;
        margin-top: 30px;
          }
          .log-in{
            float: left;
            padding: 6px 14px;
            a{
              text-decoration: none;
              p{
              font-size: 12px;
              font-weight: bold;
              color: gray;
              }
            }
          }
          .sign-up{
            float: left;
            padding: 6px 14px;
            margin-right: 10px;
            border: solid 1px $greencolor;
            border-radius: 5px;
            background-color: $greencolor;
            a{
              text-decoration: none;
              p{
                font-size: 12px;
                font-weight: bold;
                color: white;
              }
            }
          }
          .search-form{
            float: right;
              input{
                border: solid 1px #ccc;
                border-radius: 5px;
                height:35px;
                button{
                  background: none;
                  border: 0;
                }
              }

          }
      }

  }

