.home__container {
  min-height: 100%;
  border-top: solid 1px #F5F5F5;
  box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.08);
  background-color: #f7f9f9;
  clear: both;

  &__cards {
    width:580px;
    margin: 16px auto;

    .card {
      margin-bottom: 15px;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      background: $whitecolor;

      &__avatar {
        padding: 20px;

        ul {
          display: flex;
          .icon {
            margin-right: 8px;
            float: left;
            img {
              width: 36px;
              height: 36px;
              border-radius: 36px;
            }
          }

          .info {
            float: left;
            .name {
              font-size: 12px;
              font-weight: bold;
            }
            .date {
              font-size: 11px;
              display: block;
            }
          }
        }
      }

      &__main {
        padding: 0 20px 20px 20px;

        &--image {
          margin: 0px -20px 20px;
          img {
            width: 100%;
          }
        }

        &--title {
          font-size: 20px;
          letter-spacing: 0.04em;
          font-weight: bold;
          margin-bottom: 13px;
          word-wrap:break-word;
        }

        &--text {
          font-size: 14px;
          line-height: 1.8;
          word-wrap:break-word;
        }
      }

      &__foot {
        margin: 0 20px;
        padding: 12px 0 12px;
        border-top: 1px solid #e8eceb;
        color: $graycolor;

        .icon {

          li {
            margin-right: 35px;
            display: inline-block;

            .like__count {
              display: inline-block;
              padding: 5px 0 5px 5px;
            }

            .fa-heart {
              width: 30px;
              height: 30px;
            }

            .fa-arrow-right {
              width: 30px;
              height: 30px;
            }

            .fa-plus {
              width: 30px;
              height: 30px;
            }

          }
        }
      }
    }
  }
}

