.user-container{
  width: 100%;
  margin-top: 10px;
  border-top: solid 1px #F5F5F5;
  box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.08);
  overflow: auto;
  .user-container-header{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    img{
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }
  .user-container-header__empty{
    width: 100%;
    max-height: 500px;
    background-color: gray;
  }
  .user-container-header__empty:hover{
    background-color: darken(gray,10%);
  }
  .user-container-main{
    height: 250px;
    margin-bottom: 15px;
    clear: both;
    &__box{
      height: 250px;
      max-width: 940px;
      margin: 0 auto;
      clear: both;
      &__icon{
        width:90px;
        height: 90px;
        float: left;
        .my-icon{
          width:90px;
          height: 90px;
          border-radius: 50px;
          margin-top: 10px;
        }
          img{
            margin-top: 10px;
            width:90px;
            height: 90px;
            border-radius: 50px;
            object-fit: cover;
          }

      }
       &__right{
        float: left;
        width: 800px;
        margin-left: 15px;
        &__userinfo{
          float: left;
          &__nickname{
            width: 400px;
            height: 50px;
            margin: 15px 0px;
            p{
              font-size: 25px;
              font-weight: bold;
              line-height: 50px;
            }
          }
          &__selfintroduction{
            width: 400px;
            height: 130px;
            p{
              font-size: 15px;
            }
          }
          &__follow{
            width: 200px;
            height: 60px;
            margin-top: 15px;
             .following{
              float: left;
              margin-right: 10px;
              font-weight: bold;
              strong{
                font-size: 15px;
                color: gray;
              }
             }
             .follower{
              float: left;
              font-weight: bold;
              strong{
                font-size: 15px;
                color: gray;
              }
             }
           }
        }
        &__linkbtn{
          width: 300px;
          height: 170px;
          float: right;
          margin: 15px;
          position: relative;
          .link-icon{
            display: block;
            height: 20px;
            width: 20px;
            position: absolute;
            right: 70px;
            top: 12px;
            color: gray;
          }
          .select-button{
            display: none;
            position: absolute;
            right: -45px;
            margin: 40px 15px 20px 30px;
            padding: 7px 10px;
            min-width: 120px;
            max-width: 100%;
            color: #555;
            font-size: 12px;
            background: #FFF;
            border: solid 3px #CCCCCC;
            box-sizing: border-box;
            border-radius: 5px;
            li{
              margin: 20px;
              border-bottom: solid 1px #CCCCCC;
            }
          }
          .select-button:before{
            content: "";
            position: absolute;
            top: -24px;
            left: 50%;
            margin-left: -15px;
            border: 12px solid transparent;
            border-bottom: 12px solid #FFF;
            z-index: 2;
          }
          .select-button:after{
            content: "";
            position: absolute;
            top: -30px;
            left: 50%;
            margin-left: -17px;
            border: 14px solid transparent;
            border-bottom: 14px solid #CCCCCC;
            z-index: 1;
          }
        }
      }
    }
  }

  .user-container-nav{
    max-width: 970px;
    height:50px;
    margin: 10px auto;
      &__list{
        max-width: 970px;
        height:50px;
        label{
          display: inline-block;
          padding: 0px 20px;
          float: left;
          font-size: 13px;
          height: 50px;
          line-height: 50px;
        }
        .active{
          font-weight: bold;
          border-bottom: solid 2px black;
        }
        label:hover{
          border-bottom: solid 2px black;
        }
      }
    }
  .products{
    width: 100%;
    min-height: 100%;
    #product_like{
      display: none;
    }
    #product_magazine{
      min-height: 100%;
      border-top: solid 1px #F5F5F5;
      padding-bottom: 40px;
      box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.08);
      background-color: #f7f9f9;
      // max-width: 1440px;
      display: none;
      margin-top: 23px;
      .magazine-content{
        width: 950px;
        margin: 0 245px;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        background-color: #f7f9f9;

        &__create{
          width: 450px;
          height: 220px;
          border: 1px solid #e6e6e6;
          position: relative;
          background-color: #FFF;
          margin: 10px;
          &__plus{
            font-size: 30px;
            color: #e6e6e6;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
          }
          p{
            font-size: 13px;
            color: #e6e6e6;
            display: inline-block;
            position: absolute;
            left: 40%;
            top: 60%;
          }
        }

        &__posted{
          width: 450px;
          height: 220px;
          border: 1px solid #e6e6e6;
          position: relative;
          background-color: #FFF;
          margin: 10px;
          &__header{
            width: 100%;
            height: 150px;
            position: relative;
            img{
            width: 100%;
            height: 150px;
            object-fit: cover;
           }
            p.title{
              font-size: 20px;
              color: #FFF;
              text-shadow: 1px 1px 1px #CCCCCC;
              position: absolute;
              bottom: 10px;
              left: 8px;
            }
            &__empty{
              width: 100%;
              height: 115px;
              background-color: $greencolor;
              p.title-image-empty{
                font-size: 20px;
                color: #FFF;
                text-shadow: 1px 1px 1px #CCCCCC;
                position: absolute;
                bottom: 40px;
                left: 8px;
              }
            }
            &__description{
              width: 430px;
              font-size: 12px;
              padding: 10px 0px;
              box-sizing: border-box;
              margin: 0 auto;
              border-bottom: solid 1px #e6e6e6;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          &__footer{
            width: 100%;
            height: 70px;
            position: relative;

            .main-icon{
              width: 300px;
              height: 70px;
              float: left;
              position: relative;
              a{
                width: 40px;
                height: 40px;
                img{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  display: inline-block;
                  margin-top: 15px;
                  margin-left: 15px;
                  object-fit: cover;
                }
              }
                a.user_nickname_link {
                  width: 200px;
                  height:40px;
                  font-size: 12px;
                  color: #CCCCCC;
                  display: inline-block;
                  position: absolute;
                  bottom: 8px;
                  left: 65px;
                }
            }
            .setting-button{
              float: right;
              color: $greencolor;
              border: solid 1px $greencolor;
              font-size: 14px;
              border-radius: 4px;
              padding: 5px 8px;
              position: absolute;
              right: 15px;
              top: 15px;

            }
          }
        }
      }
    }
  }
}


.follows{
  position: absolute;
  left: 252px;
  border: 1px solid #e6e6e6;
  vertical-align: top;
  text-align: center;
  padding: 0 16px;
  height: 40px;
  font-weight: bold;
  width: 100px;
  font-size: 12px;
}
.follow-now{
  position: absolute;
  left: 252px;
  background-color: #2cb696;
  border: 1px solid #2cb696;
  vertical-align: top;
  text-align: center;
  padding: 0 16px;
  height: 40px;
  font-weight: bold;
  width: 100px;
  font-size: 12px;
  color: white;
}


.fa-user{
  color: #2cb696;
}
