= render 'shared/header'
= render 'shared/header-nav'
.home__container
  .home__container__header
    .switch__buttons
      %ul
        %li.button-1
          %p 人気
        %li.button-2
          %p 新着
  .home__container__cards
    .hot__notes
      = render partial: "hot_note", collection: @hot_notes
    .new_notes
      = render partial: "new_note", collection: @new_notes
